In [0]:
SELECT
  dataset_split,
  SUM(CASE WHEN `171_0` IS NULL THEN 1 ELSE 0 END) AS nulos_171_0,
  SUM(CASE WHEN `666_0` IS NULL THEN 1 ELSE 0 END) AS nulos_666_0,
  SUM(CASE WHEN `427_0` IS NULL THEN 1 ELSE 0 END) AS nulos_427_0,
  SUM(CASE WHEN `837_0` IS NULL THEN 1 ELSE 0 END) AS nulos_837_0,
  SUM(CASE WHEN `167_0` IS NULL THEN 1 ELSE 0 END) AS nulos_167_0,
  SUM(CASE WHEN `167_1` IS NULL THEN 1 ELSE 0 END) AS nulos_167_1,
  SUM(CASE WHEN `167_2` IS NULL THEN 1 ELSE 0 END) AS nulos_167_2,
  SUM(CASE WHEN `167_3` IS NULL THEN 1 ELSE 0 END) AS nulos_167_3,
  SUM(CASE WHEN `167_4` IS NULL THEN 1 ELSE 0 END) AS nulos_167_4,
  SUM(CASE WHEN `167_5` IS NULL THEN 1 ELSE 0 END) AS nulos_167_5,
  SUM(CASE WHEN `167_6` IS NULL THEN 1 ELSE 0 END) AS nulos_167_6,
  SUM(CASE WHEN `167_7` IS NULL THEN 1 ELSE 0 END) AS nulos_167_7,
  SUM(CASE WHEN `167_8` IS NULL THEN 1 ELSE 0 END) AS nulos_167_8,
  SUM(CASE WHEN `167_9` IS NULL THEN 1 ELSE 0 END) AS nulos_167_9,
  SUM(CASE WHEN `309_0` IS NULL THEN 1 ELSE 0 END) AS nulos_309_0,
  SUM(CASE WHEN `272_0` IS NULL THEN 1 ELSE 0 END) AS nulos_272_0,
  SUM(CASE WHEN `272_1` IS NULL THEN 1 ELSE 0 END) AS nulos_272_1,
  SUM(CASE WHEN `272_2` IS NULL THEN 1 ELSE 0 END) AS nulos_272_2,
  SUM(CASE WHEN `272_3` IS NULL THEN 1 ELSE 0 END) AS nulos_272_3,
  SUM(CASE WHEN `272_4` IS NULL THEN 1 ELSE 0 END) AS nulos_272_4,
  SUM(CASE WHEN `272_5` IS NULL THEN 1 ELSE 0 END) AS nulos_272_5,
  SUM(CASE WHEN `272_6` IS NULL THEN 1 ELSE 0 END) AS nulos_272_6,
  SUM(CASE WHEN `272_7` IS NULL THEN 1 ELSE 0 END) AS nulos_272_7,
  SUM(CASE WHEN `272_8` IS NULL THEN 1 ELSE 0 END) AS nulos_272_8,
  SUM(CASE WHEN `272_9` IS NULL THEN 1 ELSE 0 END) AS nulos_272_9,
  SUM(CASE WHEN `835_0` IS NULL THEN 1 ELSE 0 END) AS nulos_835_0,
  SUM(CASE WHEN `370_0` IS NULL THEN 1 ELSE 0 END) AS nulos_370_0,
  SUM(CASE WHEN `291_0` IS NULL THEN 1 ELSE 0 END) AS nulos_291_0,
  SUM(CASE WHEN `291_1` IS NULL THEN 1 ELSE 0 END) AS nulos_291_1,
  SUM(CASE WHEN `291_2` IS NULL THEN 1 ELSE 0 END) AS nulos_291_2,
  SUM(CASE WHEN `291_3` IS NULL THEN 1 ELSE 0 END) AS nulos_291_3,
  SUM(CASE WHEN `291_4` IS NULL THEN 1 ELSE 0 END) AS nulos_291_4,
  SUM(CASE WHEN `291_5` IS NULL THEN 1 ELSE 0 END) AS nulos_291_5,
  SUM(CASE WHEN `291_6` IS NULL THEN 1 ELSE 0 END) AS nulos_291_6,
  SUM(CASE WHEN `291_7` IS NULL THEN 1 ELSE 0 END) AS nulos_291_7,
  SUM(CASE WHEN `291_8` IS NULL THEN 1 ELSE 0 END) AS nulos_291_8,
  SUM(CASE WHEN `291_9` IS NULL THEN 1 ELSE 0 END) AS nulos_291_9,
  SUM(CASE WHEN `291_10` IS NULL THEN 1 ELSE 0 END) AS nulos_291_10,
  SUM(CASE WHEN `158_0` IS NULL THEN 1 ELSE 0 END) AS nulos_158_0,
  SUM(CASE WHEN `158_1` IS NULL THEN 1 ELSE 0 END) AS nulos_158_1,
  SUM(CASE WHEN `158_2` IS NULL THEN 1 ELSE 0 END) AS nulos_158_2,
  SUM(CASE WHEN `158_3` IS NULL THEN 1 ELSE 0 END) AS nulos_158_3,
  SUM(CASE WHEN `158_4` IS NULL THEN 1 ELSE 0 END) AS nulos_158_4,
  SUM(CASE WHEN `158_5` IS NULL THEN 1 ELSE 0 END) AS nulos_158_5,
  SUM(CASE WHEN `158_6` IS NULL THEN 1 ELSE 0 END) AS nulos_158_6,
  SUM(CASE WHEN `158_7` IS NULL THEN 1 ELSE 0 END) AS nulos_158_7,
  SUM(CASE WHEN `158_8` IS NULL THEN 1 ELSE 0 END) AS nulos_158_8,
  SUM(CASE WHEN `158_9` IS NULL THEN 1 ELSE 0 END) AS nulos_158_9,
  SUM(CASE WHEN `100_0` IS NULL THEN 1 ELSE 0 END) AS nulos_100_0,
  SUM(CASE WHEN `459_0` IS NULL THEN 1 ELSE 0 END) AS nulos_459_0,
  SUM(CASE WHEN `459_1` IS NULL THEN 1 ELSE 0 END) AS nulos_459_1,
  SUM(CASE WHEN `459_2` IS NULL THEN 1 ELSE 0 END) AS nulos_459_2,
  SUM(CASE WHEN `459_3` IS NULL THEN 1 ELSE 0 END) AS nulos_459_3,
  SUM(CASE WHEN `459_4` IS NULL THEN 1 ELSE 0 END) AS nulos_459_4,
  SUM(CASE WHEN `459_5` IS NULL THEN 1 ELSE 0 END) AS nulos_459_5,
  SUM(CASE WHEN `459_6` IS NULL THEN 1 ELSE 0 END) AS nulos_459_6,
  SUM(CASE WHEN `459_7` IS NULL THEN 1 ELSE 0 END) AS nulos_459_7,
  SUM(CASE WHEN `459_8` IS NULL THEN 1 ELSE 0 END) AS nulos_459_8,
  SUM(CASE WHEN `459_9` IS NULL THEN 1 ELSE 0 END) AS nulos_459_9,
  SUM(CASE WHEN `459_10` IS NULL THEN 1 ELSE 0 END) AS nulos_459_10,
  SUM(CASE WHEN `459_11` IS NULL THEN 1 ELSE 0 END) AS nulos_459_11,
  SUM(CASE WHEN `459_12` IS NULL THEN 1 ELSE 0 END) AS nulos_459_12,
  SUM(CASE WHEN `459_13` IS NULL THEN 1 ELSE 0 END) AS nulos_459_13,
  SUM(CASE WHEN `459_14` IS NULL THEN 1 ELSE 0 END) AS nulos_459_14,
  SUM(CASE WHEN `459_15` IS NULL THEN 1 ELSE 0 END) AS nulos_459_15,
  SUM(CASE WHEN `459_16` IS NULL THEN 1 ELSE 0 END) AS nulos_459_16,
  SUM(CASE WHEN `459_17` IS NULL THEN 1 ELSE 0 END) AS nulos_459_17,
  SUM(CASE WHEN `459_18` IS NULL THEN 1 ELSE 0 END) AS nulos_459_18,
  SUM(CASE WHEN `459_19` IS NULL THEN 1 ELSE 0 END) AS nulos_459_19,
  SUM(CASE WHEN `397_0` IS NULL THEN 1 ELSE 0 END) AS nulos_397_0,
  SUM(CASE WHEN `397_1` IS NULL THEN 1 ELSE 0 END) AS nulos_397_1,
  SUM(CASE WHEN `397_2` IS NULL THEN 1 ELSE 0 END) AS nulos_397_2,
  SUM(CASE WHEN `397_3` IS NULL THEN 1 ELSE 0 END) AS nulos_397_3,
  SUM(CASE WHEN `397_4` IS NULL THEN 1 ELSE 0 END) AS nulos_397_4,
  SUM(CASE WHEN `397_5` IS NULL THEN 1 ELSE 0 END) AS nulos_397_5,
  SUM(CASE WHEN `397_6` IS NULL THEN 1 ELSE 0 END) AS nulos_397_6,
  SUM(CASE WHEN `397_7` IS NULL THEN 1 ELSE 0 END) AS nulos_397_7,
  SUM(CASE WHEN `397_8` IS NULL THEN 1 ELSE 0 END) AS nulos_397_8,
  SUM(CASE WHEN `397_9` IS NULL THEN 1 ELSE 0 END) AS nulos_397_9,
  SUM(CASE WHEN `397_10` IS NULL THEN 1 ELSE 0 END) AS nulos_397_10,
  SUM(CASE WHEN `397_11` IS NULL THEN 1 ELSE 0 END) AS nulos_397_11,
  SUM(CASE WHEN `397_12` IS NULL THEN 1 ELSE 0 END) AS nulos_397_12,
  SUM(CASE WHEN `397_13` IS NULL THEN 1 ELSE 0 END) AS nulos_397_13,
  SUM(CASE WHEN `397_14` IS NULL THEN 1 ELSE 0 END) AS nulos_397_14,
  SUM(CASE WHEN `397_15` IS NULL THEN 1 ELSE 0 END) AS nulos_397_15,
  SUM(CASE WHEN `397_16` IS NULL THEN 1 ELSE 0 END) AS nulos_397_16,
  SUM(CASE WHEN `397_17` IS NULL THEN 1 ELSE 0 END) AS nulos_397_17,
  SUM(CASE WHEN `397_18` IS NULL THEN 1 ELSE 0 END) AS nulos_397_18,
  SUM(CASE WHEN `397_19` IS NULL THEN 1 ELSE 0 END) AS nulos_397_19,
  SUM(CASE WHEN `397_20` IS NULL THEN 1 ELSE 0 END) AS nulos_397_20,
  SUM(CASE WHEN `397_21` IS NULL THEN 1 ELSE 0 END) AS nulos_397_21,
  SUM(CASE WHEN `397_22` IS NULL THEN 1 ELSE 0 END) AS nulos_397_22,
  SUM(CASE WHEN `397_23` IS NULL THEN 1 ELSE 0 END) AS nulos_397_23,
  SUM(CASE WHEN `397_24` IS NULL THEN 1 ELSE 0 END) AS nulos_397_24,
  SUM(CASE WHEN `397_25` IS NULL THEN 1 ELSE 0 END) AS nulos_397_25,
  SUM(CASE WHEN `397_26` IS NULL THEN 1 ELSE 0 END) AS nulos_397_26,
  COUNT(*) AS total_linhas
FROM gold_fato_snapshot
GROUP BY dataset_split
ORDER BY dataset_split;