In [0]:
SELECT
SUM(CASE WHEN vehicle_id IS NULL THEN 1 ELSE 0 END) AS nulos_vehicle_id,
SUM(CASE WHEN length_of_study_time_step IS NULL THEN 1 ELSE 0 END) AS nulos_length,
SUM(CASE WHEN in_study_repair IS NULL THEN 1 ELSE 0 END) AS nulos_in_study_repair,
COUNT(*) AS total_veiculos
FROM gold_fato_tempo_ate_evento;