In [0]:
SELECT
dataset_split,
SUM(CASE WHEN vehicle_id IS NULL THEN 1 ELSE 0 END) AS nulos_vehicle_id,
SUM(CASE WHEN time_step IS NULL THEN 1 ELSE 0 END) AS nulos_time_step,
SUM(CASE WHEN dataset_split IS NULL THEN 1 ELSE 0 END) AS nulos_split,
SUM(CASE WHEN class_label IS NULL THEN 1 ELSE 0 END) AS nulos_class_label,
COUNT(*) AS total_linhas
FROM gold_fato_snapshot
GROUP BY dataset_split
ORDER BY dataset_split;